.arg {
    font-family: monospace;
}
.arg:hover {
    background-color: ghostwhite;
}
.arg:hover:before {
    opacity: 0.1;
}
.arg-number {
    color: green;
}
.arg-string {
    color: blue;
}

#logs tbody {
    overflow: scroll;
    height: 100px;
}

.details {
    margin: 1.5em 0;
}

.price {
    display: inline;
}

.mth {
    color: #555;
}

#logs {
    overflow-y: scroll;
}

#logs thead th {
    background: white;
}

#logs thead {
    box-shadow: 0px 1px 1px #888888;
}