.arg {
    font-family: monospace;
}

#logs tbody {
    overflow: scroll;
    height: 100px;
}

.details {
    margin: 1.5em 0;
}

.price {
    display: inline;
}

.mth {
    color: #555;
}

#logs {
    overflow-y: scroll;
}

#logs thead th {
    background: white;
}

.log-level {
}

.log-logger {
}

.log-date {
}

.log-body {
    width: 100%;
}

#logs thead {
    box-shadow: 0px 1px 1px #888888;
}

.alert-trace {
  color: #5F92AB;
  background-color: #F3FFFF;
  border-color: #bce8f1;
}

.alert-fatal {
  font-weight: bold;
  color: #76110F;
  background-color: #FFAAA8;
  border-color: #ebccd1;
}

.format-pre {
    white-space: pre;
}