.arg {
    font-family: monospace;
}
.arg:hover {
    background-color: ghostwhite;
}
.arg:hover:before {
    opacity: 0.1;
}
.arg-number {
    color: green;
}
.arg-string {
    color: blue;
}


.details {
    margin: 1.5em 0;
}

.price {
    display: inline;
}

.mth {
    color: #555;
}