<template name="layout" xmlns="http://www.w3.org/1999/html">
    <header id="header" >
        {{> header}}
    </header>
    {{#if isUser}}
    <div id="main" class="row">
        <span class="col-md-4" id="leftPanel">
            {{>showLogBooks}}
            {{>createLogBook}}
        </span>
        <span class="col-md-8" id="content">
        {{> yield}}
        </span>
    </div>
    {{/if}}
    <div id="main">
        {{#if isntUser}}
        {{> welcome}}

        {{/if}}</div>
</template>