<template name="editLogBook">
<form>
<div>
<input name="Nazwa" type="text" value="{{Nazwa}}" placeholder="Podaj nazwe LogBooka"/>
</div>
<div>


<input type="submit" value="Wyslij" class="btn btn-primary submit"/>
</div>
<div>
<a class="btn btn-danger delete" href="#">Usun LogBook</a><br>
    <a href="{{pathFor 'addUser'}}" class="btn btn-warning">Dodaj uzytkownika</a>
<br>
    <a href="{{pathFor 'showUsers'}}" class="btn btn-success">Pokaz uzytkownikow</a>
<br>
<a class="btn btn-info clean" href="{{pathFor 'showLogBooks'}}">Wyczysc Logi</a> 
</div>
</form>
    Wpisz jakie pola chcesz wyswietlac: <br/>
<form id="viewForm">
    <input class="fields"/><br/>
    <input class="fields"/><br/>
    <input class="fields"/><br/>
    <input class="fields"/><br/>
    <input class="fields"/><br/>
    <input class="fields"/><br/>
    <input type="submit" value="akceptuj"/>
</form>
</template>
