<template name="viewItem">
    <input type="text" class="viewFiled" name="pole" value="{{field}}"/>
</template>
<template name="editLogBook">
<center>

    <form>
        <div>Change LogBook name: <br>
            <input name="Name" type="text" value="{{Name}}" placeholder="Podaj nazwe LogBooka"/>
        </div>
        <div>


            <input type="submit" value="Submit" class="btn btn-primary submit"/>
        </div><br><br><br>
<div>
<a class="btn-danger btn-lg delete" href="#">Delete LogBook</a><br><br><br>
    <a href="{{pathFor 'addUser'}}" class="btn-warning btn-lg add">Add a subscriber</a>
<br><br><br>
    <a href="{{pathFor 'showUsers'}}" class="btn-success btn-lg showusers">Show subscribers</a>
<br><br><br>
<a class="btn-info btn-lg clean" href="{{pathFor 'showLogBooks'}}">Clean LogBook</a> 
</div><br><br><br>
    Choose fields to show <br/>

        <a class="btn btn-info new" href="#">Add new field</a>


        <input type="submit" class="btn btn-success new" value="Submit"/><br><br>
        {{#each Views}}
        {{>viewItem}}<br/>
        {{/each}}

    </form>
</center>
</template>
