<template name="showLogBooks">
<div id="przeslane dane">
    Moje
<table class="table">
<thead>
<tr>
<th>Nazwa</th>
<th>ID</th>
<th>Key</th>
<th>Data</th>
<th>    </th>
</tr>
</thead>
<tbody>

{{#each myLogBooks}}
{{>logBook}}
{{/each}}

</tbody>
</table>
    Uzyskany dostęp
    <table class="table">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>ID</th>
            <th>Key</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>


        {{#each friendsLogBooks}}
        {{> logBook}}
        {{/each}}

        </tbody>
        </table>

</div>
</template>
