<template name="showLogs">
{{#if ownPost}}
    <a href="{{pathFor 'addUser' _id=id}}" >dodaj uzytkownika</a>
    <a href="{{pathFor 'showUsers' _id=id}}" >pokaz uzytkownikow</a>{{/if}}
    {{id}}
<div id="przeslane dane">

    {{#each view}}
    pola
    {{/each}}
<table class="table">
<thead>
<tr>
<th>Nazwa</th>
<th>Tresc</th>
<th>Data</th>
<th>Poziom</th>
<th>Proces</th>
<th>Tagi</th>

</tr>
</thead>
<tbody>
{{#each logs}}
{{> logItem}}
{{/each}}
</tbody>
</table>
    <form id="tagForm">
        <fieldset><legend>Filter by tag</legend>

            <div class="control-group">
                <label class="control-label" for="tag">Tag</label>
                <input name="tag" id="tag" />
            <input type="submit" value="Filter"/>
                </div>
        </fieldset>
    </form>
<form id="levelForm">
<fieldset><legend>Filter by severity</legend>
        
        <div class="control-group">
	<label class="control-label" for="level">Level</label>
        <select class="controls" name="level" id="level" >
	<option value="1">1 - Debug</option>
	<option value="2">2 - Info</option>
	<option value="3">3 - Warning</option> 
	<option value="4">4 - Error</option>
	<option value="5">5 - Fatal</option>
	</select></div>
	<input type="submit" value="Filter"/>	
	</fieldset>
</form>
</div>
    <div>
        Statystki:
        <div id="canva">

        </div>
    </div>
</template>
