<template name="showLogBooks">
    <div id="przeslane dane">
        <ul class="nav nav-pills nav-stacked" id="nav">
            {{#each myLogBooks}}
            <li><a href="{{pathFor 'showLogs'}}">{{>logBook}}</a></li>
            {{/each}}
        </ul>
        <hr noshade="noshade" />

        <ul class="nav nav-pills nav-stacked" id="nav">
            {{#each friendsLogBooks}}
            <li><a href="{{pathFor 'showLogs'}}">{{> logBookSub}}</a></li>
            {{/each}}
        </ul>
    </div>
    <hr noshade="noshade" />
</template>
