<template name="showLogBooks">
<div id="przeslane dane">
    <center><b><u>My LogBooks</u></b></center>
<table class="table">
<thead>
<tr>
<th>Name</th>
<th>ID</th>
<th>Key</th>
<th>Date</th>
<th>    </th>
</tr>
</thead>
<tbody>

{{#each myLogBooks}}
{{>logBook}}
{{/each}}

</tbody>
</table>
    <center><b><u>Subscribed LogBooks</u></b></center>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Key</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>


        {{#each friendsLogBooks}}
        {{> logBook}}
        {{/each}}

        </tbody>
        </table>

</div>
</template>
