<template name="showLogs">
{{#if ownPost}}
    <a href="{{pathFor 'addUser' _id=id}}" >dodaj uzytkownika</a>
    <a href="{{pathFor 'showUsers' _id=id}}" >pokaz uzytkownikow</a>{{/if}}
<div id="przeslane dane">

    {{#each view}}
    {{/each}}
<table class="table" id="logsTable">
<thead>
<tr>
<th>Nazwa</th>
<th>Tresc</th>
<th>Data</th>
<th>Poziom</th>
<th>Proces</th>
<th>Tagi</th>

</tr>
</thead>
	<tbody>
		{{#each logs}}

		{{> logItem}}
		{{/each}}
	</tbody>
</table>
    <a class="btn btn-success download" href="#">Export to .csv</a><a download="logs.xls" class="btn btn-success" href="#" onclick="return ExcellentExport.excel(this, 'logsTable', 'Sheet Name Here');">Export to .xls</a><br>
<font color=7FFF00>Debug</font> <font color=6495ED>Info</font> <font color=FFFF00>Warning</font> <font color=FFA500>Error</font> <font color=FF0000>Fatal</font>

    <form id="tagForm">
        <fieldset><legend>Filter by tag</legend>

            <div class="control-group">
                <label class="control-label" for="tag">Tag</label>
                <input name="tag" id="tag" />
            <input type="submit" value="Filter"/>
                </div>
        </fieldset>
    </form>
<form id="levelForm">
<fieldset><legend>Filter by severity</legend>
        
        <div class="control-group">
	<label class="control-label" for="level">Level</label>
        <select class="controls" name="level" id="level" >
	<option value="1">1 - Debug</option>
	<option value="2">2 - Info</option>
	<option value="3">3 - Warning</option> 
	<option value="4">4 - Error</option>
	<option value="5">5 - Fatal</option>
	</select></div>
	<input type="submit" value="Filter"/>	
	</fieldset>
</form>
</div>
    <div>
        Statystyki:
        <div id="canva">
 	{{>chart}}
        </div>
	<h3><span style="color: #7FFF00;">Debug</span> <span style="color: #6495ED;">Info</span> <span style="color: #FFFF00;">Warning</span> <span style="color: #FFA500;">Error</span> <span style="color: #FF0000;">Fatal</span></h3>
    </div>
</template>

<template name="chart">
<canvas id="myChart" width="300" height="300"></canvas>
</template>
