<template name="showLogs">
{{#if ownPost}}
    <a href="{{pathFor 'addUser' _id=id}}" >dodaj uzytkownika</a>
    <a href="{{pathFor 'showUsers' _id=id}}" >pokaz uzytkownikow</a>{{/if}}
    {{id}}
<div id="przeslane dane">


<table class="table">
<thead>
<tr>
<th>Nazwa</th>
<th>Tresc</th>
<th>Data</th>
<th>Poziom</th>
<th>Proces</th>

</tr>
</thead>
<tbody>
{{#each logs}}
{{> logItem}}
{{/each}}
</tbody>
</table>

<form>
<fieldset><legend>Filter by severity</legend>
        
        <div class="control-group">
	<label class="control-label" for="level">Level</label>
        <select class="controls" name="level" id="level" >
	<option value="1">1 - Debug</option>
	<option value="2">2 - Info</option>
	<option value="3">3 - Warning</option> 
	<option value="4">4 - Error</option>
	<option value="5">5 - Fatal</option>
	</select></div>
	<input type="submit" value="Filter"/>	
	</fieldset>
</form>
</div>
</template>
