<template name="logBooksNav">
    <div id="">
        {{#if logBooks}}
        <ul class="nav nav-pills nav-stacked" id="nav">
            {{#each logBooks}}
            <li>{{>logBooksNavItem}}
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p><em>You have not created nor you are a member of any logbook.</em>
        </p>
        {{/if}}
    </div>
</template>


<template name="logBooksNavItem">
    {{#if currentUser}}
    <a href="{{pathFor 'showLogs'}}">{{Name}} <span class="badge">{{LogsCount}}</span>
    <div class="pull-right">
        <a href="{{ pathFor 'logBookSettings' _id=this._id }}" class="logbookSettings glyphicon glyphicon-cog" title="Settings"></a>
    </div>
    </a>
    {{else}} {{Name}} <span class="badge">{{LogsCount}}</span>
    {{/if}}
</template>
