<template name="masterLayout">
    <div class="container-fluid">
        <div id="header" class="row">
            <header class="col-md-12">
                {{> header}}
            </header>
        </div>

        <div id="main" class="row">
            {{#if currentUser}}
            <!-- left panel -->
            <div id="col-logbooks" class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Logbooks</strong>
                    </div>
                    <div class="panel-body">
                        {{>logBooksNav}}
                        <hr />{{>createLogBook}}
                    </div>
                </div>
            </div>
            <!-- main content -->
            <div class=" col-md-9">
                {{> yield}}
            </div>
            {{else}}
            <div class="col-md-12">
                {{> welcome}}
            </div>
            {{/if}}
        </div>

        <footer>
            <p>Powered by <strong>Ermlab </strong> sp. z o. o. </p>
        </footer>
    </div>
</template>


<template name="masterLayoutShowLogbookWithToken">
    <div class="container-fluid">
        <div id="header" class="row">
            <header class="col-md-12">
                {{> header}}
            </header>
        </div>

        <div id="main" class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Logbooks</strong>
                    </div>
                    <div class="panel-body">
                        {{>logBooksNav}}
                    </div>
                </div>
            </div>
            <!-- main content -->
            <div class=" col-md-9">
                {{> yield}}
            </div>
        </div>

        <footer>
            <p>Footer</p>
        </footer>
    </div>
</template>